body {
    color: rgb(51,51,51);
    font-family: kepler-std,sans-serif;
    position: relative;
}

.main-heading a {
    text-decoration: none;
    text-transform: uppercase;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(51,51,51);
    position: absolute;
    top: 25px;
    left: 50px;
}

.blogPosts {
    list-style-type: none;
    padding: 0;
}

.blogPosts li:nth-child(1) {
    background-color: rgba(243, 243, 243, 0.75);
    padding: 15vh 15px 15px 15px;
    margin: 15px;
    min-height: 25vh;
}

.blogPosts li:not(:first-child) {
    background-color: orange;
    margin: 15px;
    padding: 15px;
}

.blogPosts a {
    font-size: 24px;
    color: rgb(51,51,51);
}